body {
	background-size: 100%;
	background-repeat: repeat-y;
}

main {
	padding: 10px;
	clear: left;
}

a:hover {
	color: darkgreen;
}

h1,
h2 {
	color: darkgreen;
	text-align: center;
	line-height: .7em;
	font-family: "Comic Sans MS";
}